h1, h2 {
    text-align: center;
}

p {
    font-family: "Bookman Old Style", serif;
}

table, th, td {
    border: 4px solid;
    margin-left: auto;
    margin-right: auto;
    table-layout: fixed;
    width: 800px;
}